{% extends "base.html" %}

{% block title %}Todas las Ordenes - REI Web Assistant{% endblock %}

{% block content %}

<!-- Título de la página -->
<h2 class="my-4">Todas las Ordenes</h2>

<!-- Cards para todas las órdenes existentes -->
<div class="row">
    {% for order in orders %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ order[1] }}</h5>
                <p class="card-text"><strong>Servicio:</strong> {{ order[4] }}</p>
                <p class="card-text"><strong>Notas:</strong> {{ order[5] }}</p>
                <p class="card-text"><strong>Costo:</strong> <span style="color: green;">${{ order[6] }}</span></p>
                <p class="card-text"><strong>Inversión:</strong> <span style="color: green;">${{ order[8] }}</span></p>
                <p class="card-text"><strong>Estatus:</strong> 
                    <span style="color: {% if order[7] == 'Pendiente' %}red{% elif order[7] == 'Entregado' %}green{% else %}yellow{% endif %};">{{ order[7] }}</span>
                </p>
                <form action="" method="post" style="display:inline-block;">
                    <button type="submit" class="btn btn-success btn-sm">Cancelar</button>
                </form>
                <form action="/ordenes/editar/{{ order[0] }}" method="get" style="display:inline-block;">
                    <button type="submit" class="btn btn-primary btn-sm">Editar</button>
                </form>
                <form action="/ordenes/eliminar/{{ order[0] }}" method="post" style="display:inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
