{% extends "base.html" %}

{% block title %}Todas las Ordenes - REI Web Assistant{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all_orders.css') }}">

<!-- Título de la página -->
<h2 class="my-4">Todas las Ordenes</h2>

<!-- Cards para todas las órdenes existentes -->
<div class="row">
    {% for order in orders %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ order['client_name'] }}</h5>
                <p class="card-text"><strong>Referencia: {{ "{:06d}".format(order['repair_order_id']) }}</p></strong>
                <p class="card-text"><strong>Servicio:</strong> {{ order['service'] }}</p>
                <p class="card-text"><strong>Notas:</strong> {{ order['notes'] }}</p>
                <p class="card-text"><strong>Costo:</strong> <span style="color: green;">${{ order['cost'] }}</span></p>
                <p class="card-text"><strong>Inversión:</strong> <span style="color: green;">${{ order['investment'] }}</span></p>
                <p class="card-text"><strong>Estatus:</strong> 
                    <span style="color: {% if order['status'] == 'Pendiente' %}red{% elif order['status'] == 'Entregado' %}green{% else %}yellow{% endif %};">{{ order['status'] }}</span>
                </p>
                <form action="/ordenes/editar/{{ order['repair_order_id'] }}" method="get" style="display:inline-block;">
                    <button type="submit" class="btn btn-primary btn-sm">Editar</button>
                </form>
                <form action="/ordenes/eliminar/{{ order['repair_order_id'] }}" method="post" style="display:inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
