{% extends "base.html" %}

{% block title %}Productos - REI Web Assistant{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_mobile.css') }}">

<div class="container-fluid">
    <!-- Barra de búsqueda -->
    <div class="row">
        <div class="col-12 mb-3">
            <input type="text" id="search" class="form-control" placeholder="Buscar productos...">
        </div>
    </div>

    <!-- Lista de productos -->
    <div class="row" id="productContainer">
        {% for product in products %}
        <div class="col-12 mb-3">
            <div class="product-list-item">
                <!-- Nombre del producto -->
                <h6 class="product-name">{{ product['name'] }}</h6>

                <!-- Información adicional del producto -->
                <div class="product-details">
                    <div class="product-details-row">
                        <p class="product-info"><b>Categoría:</b> {{ product['category'] }}</p>
                        <p class="product-info-price">${{ product['price'] }}</p>
                    </div>
                    <p class="product-info"><b>Stock:</b> {{ product['stock'] }}</p>
                </div>

                <!-- Botón para crear orden al lado derecho de la información -->
                <div class="product-action">
                    <button class="btn btn-primary">Crear Orden</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
