{% extends "base.html" %}

{% block title %}Notas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">

<div class="notes-page">
    <div class="header">
        <h2>Todas las notas</h2>
        <p>Aquí podrás ver las notas tuyas y las que han dejado los demás, también conocidos como anuncios.</p>
    </div>

    <div class="notes-container">
        {% for note in notes %}
        <div class="card mb-4 note-card">
            <div class="card-body">
                <div class="note-left-content">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text">{{ note.content }}</p>
                </div>
                <p class="note-meta">
                    <small>Creada el: {{ note.created_at.strftime('%d de %B, %Y') }}</small>
                    {% if note.remove_at %}
                    <br>
                    <small>Eliminada el: {{ note.remove_at.strftime('%d de %B, %Y') }}</small>
                    {% endif %}
                </p>
                <div class="note-user-info d-flex align-items-center mt-3">
                    <img src="{{ url_for('static', filename='images/' + note.user_profile_picture) }}" alt="Foto de perfil" class="rounded-circle profile-picture" width="30" height="30">
                    <div class="note-user-name ml-3" style="font-size: 0.85rem;">
                        <strong>{{ note.user_name }}</strong>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="note-buttons">
                        <a href="/notes/edit/{{ note.note_id }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/notes/delete/{{ note.note_id }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar esta nota?')">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
