{% extends "base.html" %}

{% block title %}Órdenes - REI Web Assistant{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">

<!-- Contenedor principal para ambos apartados -->
<div class="orders-container">
    <!-- Contenedor para el formulario de creación de orden -->
    <div class="order-form-container">
        <div class="card">
            <div class="card-body">
                <form action="/ordenes" method="post">
                    <div class="form-group">
                        <label for="client_name">Nombre del Cliente</label>
                        <input type="text" class="form-control" id="client_name" name="client_name" required>
                    </div>
                    <div class="form-group">
                        <label for="model">Modelo del Celular</label>
                        <input type="text" class="form-control" id="model" name="model" required>
                    </div>
                    <div class="form-group">
                        <label for="service">Servicio</label>
                        <input type="text" class="form-control" id="service" name="service" required>
                    </div>
                    <div class="form-group">
                        <label for="observations">Observaciones</label>
                        <textarea class="form-control" id="observations" name="observations"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cost">Costo Reparación</label>
                        <input type="number" class="form-control" id="cost" name="cost" step="0.01" value="0.0" required>
                    </div>
                    <div class="form-group">
                        <label for="investment">Inversión Refacción</label>
                        <input type="number" class="form-control" id="investment" name="investment" step="0.01" value="0.0" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Orden</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Contenedor para la lista de órdenes pendientes -->
    <div class="order-list-container">
        <h3 class="section-title">Órdenes Pendientes</h3>
        <p>Si estás buscando una orden vieja y validada, encuéntrala <a href="{{ url_for('all_orders') }}">aquí.</a></p>

        <!-- Contenedor de las órdenes con altura fija para mantener el espacio de dos órdenes -->
        <div class="orders" id="orderCards" style="min-height: 500px;">
            {% for order in orders %}
            <div class="card mb-3 order-card">
                <div class="card-body">
                    <h5 class="card-title">{{ order['client_name'] }} 
                        <span class="ref-number">
                            {{ "{:06d}".format(order['repair_order_id']) }}
                        </span>
                    </h5>
                    <p class="card-text"><strong>Modelo:</strong> {{ order['model'] }}</p>
                    <p class="card-text"><strong>Servicio:</strong> {{ order['service'] }}</p>
                    <p class="card-text"><strong>Estatus:</strong> 
                        <span class="order-status">{{ order['status'] }}</span> 
                        desde 
                        <span class="order-status">
                            {{ order['created_at']|format_date_and_difference }}
                        </span>
                    </p> 
                    <div class="order-actions">
                        <form action="/ordenes/validar/{{ order['repair_order_id'] }}" method="post">
                            <button type="submit" class="btn btn-success btn-sm">Validar</button>
                        </form>
                        <form action="/ordenes/editar/{{ order['repair_order_id'] }}" method="get">
                            <button type="submit" class="btn btn-primary btn-sm">Detalles</button>
                        </form>
                        <form action="/ordenes/eliminar/{{ order['repair_order_id'] }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Botones de paginación -->
        <div class="pagination-controls text-center mt-3">
            <button class="btn btn-outline-secondary" id="prevPageBtn" onclick="changePage(-1)">Anterior</button>
            <button class="btn btn-outline-secondary" id="nextPageBtn" onclick="changePage(1)">Siguiente</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}
