{% extends "base.html" %}

{% block title %}Cotización - REI Web Assistant{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/parts.css') }}">

<div class="cotizacion-page">
    <div class="header">
        <h2>Cotización</h2>
        <p>Si estás teniendo problemas, haz una <a href="https://drive.google.com/drive/folders/1NyXQToIkYCXBBgqyMVDRBrRn-EcCwfCp?usp=sharing">consulta manual.</a></p>
    </div>

    <form method="post" action="/cotizacion" class="search-form">
        <input class="form-control" type="search" placeholder="Buscar productos..." aria-label="Search" name="search" value="{{ search_text }}">
        <button type="submit" class="search-button">🔍</button>
    </form>

    <div class="parts-container">
        {% for part in parts %}
        <div class="part-card">
            <div class="supplier-image">
                {% if part['supplier'] == "AT_HOME" %}
                <img src="{{ url_for('static', filename='images/at_home_logo.jpg') }}" alt="AT_HOME logo">
                {% elif part['supplier'] == "KBKA_SHOP" %}
                <img src="{{ url_for('static', filename='images/kbka_shop_logo.jpg') }}" alt="KBKA_SHOP logo">
                {% elif part['supplier'] == "HONG_KONG" %}
                <img src="{{ url_for('static', filename='images/hong_kong_logo.jpg') }}" alt="HONG_KONG logo">
                {% elif part['supplier'] == "I_PLUS" %}
                <img src="{{ url_for('static', filename='images/i_plus_logo.png') }}" alt="I_PLUS logo">
                {% else %}
                <img src="{{ url_for('static', filename='images/supplier_default.jpg') }}" alt="Default logo">
                {% endif %}
            </div>
-
            <div class="part-info">
                <h5>{{ part['model'] }}</h5>
                <p class="info-text"><strong>Proveedor:</strong> {{ part['supplier'] }}</p>
                <p class="info-text"><strong>Precio:</strong> ${{ part['price'] }}</p>
                {% if part['price'] > 600 %}
                    {% set quote = part['price'] * 2 %}
                {% else %}
                    {% set quote = part['price'] + 400 %}
                {% endif %}
                <p class="info-text"><strong>Cotización:</strong> ${{ quote | round(0, 'ceil') // 10 * 10 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
