{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard_mobile.css') }}">

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <div class="card user-card">
                <div class="card-body d-flex flex-column align-items-center">
                    <!-- Profile Picture -->
                    <img src="{{ url_for('static', filename='images/' + user.profile_picture) }}" 
                         alt="Profile Picture" class="rounded-circle profile-picture mb-3" style="width: 100px; height: 100px;">
                    
                    <!-- User Info -->
                    <div class="user-info text-center">
                        <h5 class="user-name mb-3">{{ user.name }}</h5>
                        <p class="user-text"><b>ID:</b><br>USR-{{ "%05d"|format(user.id) }}</p>
                        <hr>
                        <p class="user-text"><b>Email:</b><br>{{ user.email }}</p>
                        <hr>
                        <p class="user-text"><b>Miembro desde:</b><br>{{ user.created_at.strftime('%d/%m/%Y') }}</p>
                    </div>
                    
                    <!-- User Actions (buttons) -->
                    <div class="user-buttons mt-4 w-100">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-primary btn-sm w-100 square-btn">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            </div>
                            <div class="col-6">
                                <form action="{{ url_for('update_repo') }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-secondary btn-sm w-100 square-btn">
                                        <i class="fa fa-sync"></i> Actualizar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
